name: "Build and test"
on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["master"]
  # pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: blacksmith-4vcpu-ubuntu-2404

    permissions:
      # Required to checkout the code
      contents: read
      # Required to put a comment into the pull-request
      # pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - name: "Install Node"
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            .next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
      - name: "Install Deps"
        run: npm install
      - name: "Build Next.js"
        run: npm run build
      - name: "Test"
        run: npm run test
        # run: npx vitest --coverage.enabled true
      # - name: "Report Coverage"
      #   # Set if: always() to also generate the report if tests are failing
      #   # Only works if you set `reportOnFailure: true` in your vite config as specified above
      #   if: always()
      #   uses: davelosert/vitest-coverage-report-action@v2
